/*--- Image Section Formatting ---*/
.img-container {
  width: 100%;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Card Formatting --- */
.card {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

/* --- Card Rotation/Flip --- */
.card.rotate.left {
  transform: rotateZ(-90deg) scale(0.75);
}

.card.rotate.left:hover {
  transform: rotateZ(-90deg) scale(1);
}

.card.rotate.right {
  transform: rotateZ(90deg) scale(0.75);
}

.card.rotate.right:hover {
  transform: rotateZ(90deg) scale(1);
}

.card.flip {
  transform: rotateZ(180deg);
}

/* --- Card Image --- */
.card-img {
  width: 100%;
}

.card-img.front, .card-img.back {
  backface-visibility: hidden;
}

.card.transform, .card-img.back {
  transform: rotateY(180deg);
}

.card-img.front {
  position: absolute;
}

.card-img.front.meld-result {
  position: relative;
}

/* --- Image Button --- */
.img-container button {
  display: flex;
  margin-top: 10px;
  background: rgb(241, 241, 241);
  border: 1px solid rgb(85, 26, 139, 0.5);
  border-radius: 2px;
  padding: 5px 10px;
  fill: rgb(85, 26, 139);
  color: rgb(85, 26, 139);
  font-size: 16px;
}

.img-container button svg {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.img-container button:hover {
  border: 1px solid rgb(85, 26, 139);
  background: white;
  cursor: pointer;
}

@media only screen and (max-width: 432px) {
  .img-container {
    margin-bottom: 20px;
  }
}