.info-container {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 325px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 1px solid rgb(172, 172, 172);
  border-right: 1px solid rgb(172, 172, 172);
  border-radius: 2px;
}

.info-block {
  border-top: 1px solid rgb(210, 210, 210);
  padding: 10px;
}

.info-block:first-child {
  border-top: none;
}

.oracle-text {
  padding-top: 10px;
}

.oracle-text:first-child {
  padding-top: 0;
}

.flavour-text {
  padding-top: 10px;
  display: block;
}

.flavour-text.no-oracle{
  padding-top: 0;
}

.legality {
  display: flex;
  align-items: center;
}

.legality span{
  margin-left: 5px;
  color: white;
  min-width: 100px;
  border-radius: 2px;
  padding: 2px;
  text-align: center;
}

.legality .banned {
  background: rgb(215, 19, 19);
}

.legality .not-legal {
  background: rgb(153, 153, 153);
}

.legality .game-changer {
  background: rgb(233, 173, 44);
}

.legality .legal {
  background: rgb(17, 155, 17);
}
