
/*--- Extra Section Formatting ---*/
.extra-container {
  width: 100%;
  max-width: 325px;
}

/* --- Set, Collection Number, Rarity Formatting ---*/
.extra-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  background: #343142;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2px;
  text-decoration: none;
}

.extra-info:hover {
  background: #464258;
  cursor: pointer;
}

.extra-set-symbol {
  width: 36px;
  height: 36px;
  padding-right: 10px;
  grid-row: 1 / span 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  filter: invert(100%) brightness(200%);
}

/* --- Related Table --- */
.related-info{
  width: 100%;
  border-collapse: collapse;
}

.related-info thead{
  background: #343142;
  border: 1px solid #343142;
  color: white;
}

.related-info thead th {
  text-align: start;
  padding: 5px 10px;
}

.related-info tbody tr td{
  background: white;
  border: 1px solid rgb(180, 180, 180);
  padding: 5px 10px;
}

.related-info tbody tr td:hover {
  background: #decdfb;
  cursor: pointer;
}

.related-info tbody tr:last-child {
  border-bottom: 4px solid #343142;
}

/* --- Artist Link --- */
.artist-name {
  background: #343142;
  width: 100%;
  color: white;
  margin-top: 10px;
  padding: 15px;
  border-radius: 2px;
}

.artistLinks {
  text-decoration: none;
  color: #ac88e4;
}

.artistLinks:hover {
  color: #ceafff;
  cursor: pointer;
}

/* --- Unique Art --- */
.view-alts-btn {
  display: block;
  background: #634496;
  border: none;
  border-radius: 2px;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.view-alts-btn:hover {
  background: #7b51bf;
  cursor: pointer;
}