/* --- Home Page Search Bar Formatting --- */
.home-search-form {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 525px;
    width: 100%;
}

/* --- Logo --- */
.home-logo {
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    margin-left: 8px;
}

/* --- Search Bar --- */
.home-search-bar {
    display: flex;
    background-color: #201c2c;
    padding: 12px 14px 12px 62px;
    border: 2px solid #4f4756;
    border-radius: 5px;
    height: 63px;
    width: 100%;
    font-size: 30px;
    color: white;
    caret-color: white;
}

.home-search-bar.focused {
    background-color: #231e31;
    border: 2px solid #5a5163; 
    outline: none;
    box-shadow: none;
}

