/* --- Checkbox base stylings --- */
.advanced-checkbox {
  border: 1px solid #AEAEAE;
  border-radius: 2px;
  height: 26px;
  width: 26px;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* --- Checkbox states --- */
.advanced-checkbox:checked:before {
  content:"✓";
  color: #551A8B;
}

.advanced-checkbox:checked {
  border-color: #3b1260;
  background-color: #FFF
}

.advanced-checkbox:focus,
.advanced-checkbox:hover {
  border-color: #3b1260;
  background-color: #FFF
}

/* --- Checkbox label --- */
.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.checkbox-label:hover{
  border-color: #3b1260;
}

/* --- Checkbox group layout --- */
.checkbox-group {
  display: flex;
}

.checkbox-group label{
  margin-right: 10px;
}

.checkbox-group input {
  margin-right: 5px;
}

.checkbox-group abbr {
  margin-right: 3px;
}

@media only screen and (max-width: 432px) {
  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .checkbox-label {
    margin-bottom: 5px;
  }

}