
.extra-container {
  width: 100%;
  max-width: 325px;
}

.extra-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  background: #343142;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.set-symbol {
  width: 36px;
  height: 36px;
  padding-right: 10px;
  grid-row: 1 / span 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  filter: invert(100%) brightness(200%);
}

.set-name {
  grid-row: 1;
  grid-column: 2;
}

.set-extra {
  grid-row: 2;
  grid-column: 2;
}

table, td, th{
  border: none;
  border-collapse: collapse;
  width: 100%;
  text-align: start;
  padding: 5px;
}

thead{
  background: #343142;
  color: white;
}

tbody tr {
  background: white;
  border: 1px solid grey;
}

tbody tr:hover {
  background: lightblue;
}
tbody tr:last-child {
  border-bottom: 4px solid #343142;
}

.artist-name {
  background: #343142;
  width: 100%;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

.view-alts-btn {
  margin-top: 10px;
  width: 100%;
}