.img-container {
  width: 100%;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.card.rotate.left {
  transform: rotateZ(-90deg) scale(0.75);
}

.card.rotate.left:hover {
  transform: rotateZ(-90deg) scale(1);
}

.card.rotate.right {
  transform: rotateZ(90deg) scale(0.75);
}

.card.rotate.right:hover {
  transform: rotateZ(90deg) scale(1);
}

.card.flip {
  transform: rotateZ(180deg);
}

.card-img {
  width: 100%;
}

.card-img.front, .card-img.back {
  backface-visibility: hidden;
}

.card.transform, .card-img.back {
  transform: rotateY(180deg);
}

.card-img.front {
  position: absolute;
}

button {
  margin-top: 10px;
}