* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

main {
  min-height: 95vh;
}

.home-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #431e3f;
}

.home-title {
  color: white;
  font-weight: 200;
}

.home-title strong {
  font-weight: 700;
}