.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  gap: 15px;
}

.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 4.75% / 3.5%;
  box-shadow: 0px 0px 7px rgb(48, 48, 48);
}