
.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 4.75% / 3.5%;
  box-shadow: 0px 0px 7px rgb(48, 48, 48);
}

.gallery {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.gallery-img.front, .gallery-img.back {
  backface-visibility: hidden;
}

.gallery.transform, .gallery-img.back {
  transform: rotateY(180deg);
}

.gallery-img.front {
  position: absolute;
}

.gallery-wrapper {
  position: relative;
}

.gallery-btn {
  position: absolute;
  height: 44px;
  width: 44px;
  z-index: 100;
  border: 2px solid black;
  border-radius: 100%;
  background: white;
  opacity: 0.6;
  padding: 7px;
  display: block;
  top: 25%;
  left: 75%;
}

.gallery-btn:hover {
  opacity: 1;
}